doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', type='text/css', href='/dist/style.css')
    link(rel="icon" href="/images/icons/icons8-google-100.png")

    title= `${title || h.siteName}`
  body
    block header
      nav
        ul.container
          each item in h.menuItems
            li(class= currentPath.startsWith(item.slug) ? "active-tab" : '')
              a.nav_link-logo(href=item.slug)
                img(src=h.icon(item.icon))
                span #{item.title}
          li.search
              input.search-input(type='text', placeholder='Search')
          li
              if user
                span Logout
              else
                span Login

    block messages
      if locals.flashes
        //- pre= h.dump(locals.flashes)
        .inner.inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    block jobPosts

    .content
      block content
        p This is the default content block!

  script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
  script(src="/dist/App.bundle.js")
