mixin JobPostForm(jobPost = {})
  form(action=`/add/${jobPost._id || ''}`, method="POST" class="card" enctype="multipart/form-data")
    label(for="company") Company: &nbsp #{jobPost.company || ''}
    input(type="text" name="company" value=jobPost.company)
    label(for="title") Title: &nbsp #{jobPost.title}
    input(type="text" name="title" value=`${jobPost.title || ''}`)
    label(for="description") Description
    textarea(name="description")= jobPost.description
    //- Image Upload
    label(for="photo") Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if jobPost.photo
        img(src=`/uploads/${jobPost.photo}`, alt=jobPost.title width=200)
    //- address, lng and lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(jobPost.location && jobPost.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(jobPost.location && jobPost.location.coordinates[0]) required)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(jobPost.location && jobPost.location.coordinates[1]) required)
    - const choices = ['Java', 'Javascript', 'VueJS', 'ReactJS', 'AngularJS', 'C#', 'ASP', 'Python', 'Swift', 'Go', 'Solidity']
    - const tags = jobPost.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          label(for=choice) #{choice}
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
    input(type="submit" value="Save →" class="button")